

 <div class="container ">
  <form [formGroup]="addForm" (submit)="onSubmit()">
      <div class="form-group">
        <label for="exampleInputName">name</label>
        <input formControlName="name" name="name" class="form-control" id="exampleInputName" placeholder="name">
        </div>
  
      <div class="form-group">
        <label for="exampleInputDescribsion">job</label>
        <input formControlName="job" name="job" class="form-control" id="exampleInputDescribsion" placeholder="job">
      </div>
        
  
      
      <button type="submit" class="btn btn-primary">add employee</button>
    </form>
</div> 









