<!--
<p>add works!</p>
<div class="container ">
    <form [formGroup]="addForm" (submit)="onSubmit()">
        <div class="form-group">
          <label for="exampleInputName">name</label>
          <input formControlName="name" name="name" class="form-control" id="exampleInputName" placeholder="name">
          </div>
        <div class="form-group">
            <label for="exampleInputPrice">price</label>
            <input  formControlName="price" name="price" class="form-control" id="exampleInputPrice" placeholder="price">
             </div>
        <div class="form-group">
          <label for="exampleInputDescribsion">describsion</label>
          <input formControlName="price" name="describsion" class="form-control" id="exampleInputDescribsion" placeholder="describsion">
        </div>
          
      -->
       <!-- <div class="form-group">
          <label for="exampleInputDescribsion">image</label>
          <input formControlName="image" name="photoUrl" class="form-control" id="exampleInputDescribsion" placeholder="image">
        </div>  -->
    
       <!--
        
        <button type="submit" class="btn btn-primary">add</button>
      </form>
 </div> -->

 <div class="container ">
  <form [formGroup]="addForm" (submit)="onSubmit()">
      <div class="form-group">
        <label for="exampleInputName">name</label>
        <input formControlName="name" name="name" class="form-control" id="exampleInputName" placeholder="name">
        </div>
  
      <div class="form-group">
        <label for="exampleInputDescribsion">job</label>
        <input formControlName="job" name="job" class="form-control" id="exampleInputDescribsion" placeholder="job">
      </div>
        
  
      
      <button type="submit" class="btn btn-primary">add employee</button>
    </form>
</div> 









