<div class="container ">
    <form [formGroup]="editForm" (submit)="onSubmit()">
        <div class="form-group">
          <label for="exampleInputName">name</label>
          <input formControlName="name" name="name" class="form-control" id="exampleInputName" placeholder="name" >
          </div>
        <div class="form-group">
            <label for="exampleInputPrice">job</label>
            <input  formControlName="job" name="job" class="form-control" id="exampleInputPrice" placeholder="job" >
             </div>
    
        <button type="submit" class="btn btn-primary">update</button>
      </form>
 </div> 
