<div class="container ">
    <form [formGroup]="editForm" (submit)="onSubmit()">
        <div class="form-group">
          <label for="exampleInputName">name</label>
          <input formControlName="name" name="name" class="form-control" id="exampleInputName" placeholder="name" >
          </div>
        <div class="form-group">
            <label for="exampleInputPrice">price</label>
            <input  formControlName="price" name="price" class="form-control" id="exampleInputPrice" placeholder="price" >
             </div>
    
        <button type="submit" class="btn btn-primary">update</button>
      </form>
 </div> 
